target/
*.swp
*.class
.idea/.name
.idea/compiler.xml
.idea/jarRepositories.xml
.idea/libraries/Maven__com_google_code_gson_gson_2_8_5.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
waste-recycling.iml
.idea/.name
.idea/compiler.xml
.idea/jarRepositories.xml
.idea/libraries/Maven__com_google_code_gson_gson_2_8_5.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
waste-recycling.iml
.idea/.name
.idea/compiler.xml
.idea/jarRepositories.xml
.idea/libraries/Maven__com_google_code_gson_gson_2_8_5.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
waste-recycling.iml
